body { --black: black; --black-light: #1d1d1b; --gray-dark: #333333; --gray-medium: #595959; --gray-light: #b3b3b3; --gray-lightest: #efeff0; --white: white; --purple: #8a1a9b; --blue: rgb(0, 77, 132); --pink: #eb1e7a; --text-ff: 'Aktiv Grotesk', 'Roboto', sans-serif; --nav-links-ff: 'Neo Sans Std', 'Roboto', sans-serif; --main-title-ff: 'Roboto', sans-serif; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

*::-moz-selection { color: currentColor; background: #b3d4fc; text-shadow: none; }

*::selection { color: currentColor; background: #b3d4fc; text-shadow: none; }

body { font-family: var(--text-ff); background-color: var(--white); }

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }

input { background-color: var(--gray-light); color: var(--white); padding: 0.5em 0.8em; border: none; font-weight: normal; }

input:placeholder { color: var(--white); }

button { background-color: transparent; text-transform: capitalize; border: none; padding: 0; margin: 0; color: var(--blue); }

a { color: var(--blue); }

a:visited { color: var(--purple); }

.page-header { z-index: 99999; }

@media screen and (min-width: 1040px) { .page-header { -webkit-box-shadow: rgba(102, 104, 107, 0.11) 0px 0px 8px 5px; box-shadow: rgba(102, 104, 107, 0.11) 0px 0px 8px 5px; background-color: var(--white); padding: 13px 15px; width: auto; max-width: 100vw; }
  .page-header .container { margin: 0 auto; max-width: 960px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 99999; } }

.page-header .top-bar { z-index: 99999; background-color: var(--white); -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: rgba(102, 104, 107, 0.11) 0px 0px 8px 5px; box-shadow: rgba(102, 104, 107, 0.11) 0px 0px 8px 5px; padding: 13px 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: fixed; top: 0; left: 0; right: 0; }

@media screen and (min-width: 470px) { .page-header .top-bar { position: static; } }

@media screen and (min-width: 1040px) { .page-header .top-bar { -webkit-box-shadow: none; box-shadow: none; padding: 0; } }

.page-header .top-bar .logo img { width: 67px; }

@media screen and (min-width: 470px) { .page-header .top-bar .logo img { width: 118px; } }

.page-header .menu-toggle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

@media screen and (min-width: 1040px) { .page-header .menu-toggle { display: none; } }

.page-header .menu-toggle .bars { background-color: var(--purple); width: 30px; height: 5px; margin-bottom: 5px; }

.page-header .menu-toggle .bars:last-of-type { margin-bottom: 0; }

.page-header .menu-toggle .text { text-transform: uppercase; font-size: 0.7rem; font-weight: 500; line-height: 1.8; }

.page-header .main-menu { color: var(--white); -webkit-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 99999; background-color: var(--pink); }

@media screen and (min-width: 1040px) { .page-header .main-menu { -webkit-transition: none; transition: none; position: static; -webkit-transform: none; transform: none; background-color: rgba(0, 0, 0, 0); color: var(--gray-medium); } }

.page-header .main-menu.active { -webkit-transform: translateY(0); transform: translateY(0); }

.page-header .main-menu .close-menu { position: absolute; background-color: inherit; top: 15px; right: 13px; height: 28px; width: 28px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; }

@media screen and (min-width: 1040px) { .page-header .main-menu .close-menu { display: none; } }

.page-header .main-menu .close-menu::before, .page-header .main-menu .close-menu::after { position: absolute; content: ''; width: 100%; height: 8px; background-color: var(--white); border-radius: 2px; }

.page-header .main-menu .close-menu::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.page-header .main-menu .close-menu::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.page-header .main-menu ul { list-style-type: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; margin: 0; height: 100%; }

@media screen and (min-width: 1040px) { .page-header .main-menu ul { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: end; } }

.page-header .main-menu ul li a { color: inherit; text-decoration: none; text-transform: uppercase; font-size: 1.175rem; font-weight: 700; line-height: 2.25; }

@media screen and (min-width: 1040px) { .page-header .main-menu ul li a { font-size: 0.85rem; -webkit-transition: color 0.3s ease; transition: color 0.3s ease; letter-spacing: -0.25px; display: block; } }

.page-header .main-menu ul li:not(:last-child) { margin-bottom: 10px; }

@media screen and (min-width: 1040px) { .page-header .main-menu ul li:not(:last-child) { margin-bottom: 0; margin-right: 17.5px; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(1) a { color: tomato; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(2) a { color: yellowgreen; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(3) a { color: violet; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(4) a { color: steelblue; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(5) a { color: crimson; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(6) a { color: lightsalmon; }
  .page-header .main-menu ul li:not(:last-child):hover:nth-child(7) a { color: gold; } }

main { overflow-x: hidden; }

main section { padding: 40px 15px 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

main section:first-of-type, main section:nth-of-type(3) { background-color: var(--gray-lightest); position: relative; }

main section:first-of-type::before, main section:nth-of-type(3)::before { content: url(./assets/circle-decoration.svg); position: absolute; opacity: 0.8; }

@media screen and (min-width: 800px) { main section:first-of-type::before, main section:nth-of-type(3)::before { content: ''; } }

@media screen and (min-width: 800px) { main section:first-of-type .container, main section:nth-of-type(3) .container { position: relative; }
  main section:first-of-type .container::before, main section:nth-of-type(3) .container::before { content: url(./assets/circle-decoration.svg); position: absolute; opacity: 0.6; } }

h2, h3 { margin: 0; color: var(--gray-medium); }

main section:first-of-type::before { top: -40px; right: -25px; -webkit-transform: rotate(235deg); transform: rotate(235deg); }

main section:first-of-type .container::before { top: -70px; right: -90px; -webkit-transform: scale(1.3) rotate(230deg); transform: scale(1.3) rotate(230deg); }

main section:first-of-type h2 { font-size: 16px; line-height: 1.65; font-weight: 500; color: var(--gray-dark); margin-bottom: 40px; word-spacing: 2px; max-width: 700px; }

main section:first-of-type p { margin: 0; margin-bottom: 20px; font-weight: 300; font-size: 14px; line-height: 1.6; color: var(--gray-dark); max-width: 700px; }

main section:first-of-type p:last-of-type { padding-top: 20px; color: var(--gray-dark); font-size: 16px; font-weight: 500; line-height: 1.5; }

main section:nth-of-type(2) h2, main section:nth-of-type(2) h3 { font-weight: normal; color: var(--gray-dark); }

main section:nth-of-type(2) h2 { font-size: 24px; line-height: 1.6; word-spacing: 6px; max-width: 600px; margin-bottom: 30px; }

main section:nth-of-type(2) h3 { letter-spacing: 0.5px; font-size: 18px; margin-bottom: 20px; }

@media screen and (min-width: 800px) { main section:nth-of-type(2) .features-container { display: -webkit-box; display: -ms-flexbox; display: flex; }
  main section:nth-of-type(2) .features-container .features { max-width: 450px; }
  main section:nth-of-type(2) .features-container .features:first-of-type { padding-right: 40px; } }

main section:nth-of-type(2) .features:not(:last-of-type) { margin-bottom: 40px; }

main section:nth-of-type(2) .features ul { margin: 0; list-style-type: none; padding-left: 0; padding-right: 15px; }

main section:nth-of-type(2) .features ul li { font-size: 12px; color: var(--gray-dark); line-height: 3; font-weight: 300; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

main section:nth-of-type(2) .features ul li img { -ms-flex-item-align: start; -ms-grid-row-align: start; align-self: start; margin-top: 5px; }

main section:nth-of-type(2) .features ul li span { margin-left: 0.8em; }

main section:nth-of-type(3)::before { top: -10px; left: -25px; }

main section:nth-of-type(3) .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; max-width: 840px; background-color: var(--gray-medium); }

main section:nth-of-type(3) .container::before { top: -40px; left: -40px; -webkit-transform: scale(1.3) rotate(230deg); transform: scale(1.3) rotate(230deg); }

main section:nth-of-type(3) .call-to-action { display: block; padding: 40px 20px; color: var(--white); font-size: 14px; line-height: 2; -webkit-box-sizing: content-box; box-sizing: content-box; max-width: 400px; }

@media screen and (min-width: 600px) { main section:nth-of-type(3) .call-to-action { padding: 60px 0; } }

@media screen and (min-width: 800px) { main section:nth-of-type(3) .call-to-action { padding: 90px 0; } }

main section:nth-of-type(3) .call-to-action a { color: inherit; -webkit-transition: color 0.3s ease; transition: color 0.3s ease; }

main section:nth-of-type(3) .call-to-action a:hover { color: lawngreen; }

.banner { margin-top: calc(73px + 15px); background-image: url(../../assets/background.jpg); background-position: 30% top; background-repeat: no-repeat; background-size: cover; color: var(--white); padding: 72px 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (min-width: 470px) { .banner { margin-top: 15px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding-right: 20vw; } }

.banner h1 { margin: 0; margin-bottom: 0.25em; color: rgba(0, 0, 0, 0); font-weight: 700; font-size: 3.75rem; -webkit-text-stroke-width: 2.25px; -webkit-text-stroke-color: var(--white); line-height: 0.85; letter-spacing: 1px; }

@media screen and (min-width: 470px) { .banner h1 { font-size: 4rem; } }

.banner span { display: block; line-height: 1.4; font-size: 18px; text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 2px 0px 6px rgba(0, 0, 0, 0.3), 2px -2px 6px rgba(0, 0, 0, 0.3), 0px -2px 6px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(0, 0, 0, 0.3), -2px -2px 7px rgba(0, 0, 0, 0.3); max-width: 350px; }

footer { padding: 40px 15px 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 0.875em; font-size: 13px; }

footer a { text-decoration: none; }

footer .container { width: 100%; max-width: 830px; text-align: center; }

@media screen and (min-width: 730px) { footer .columns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; } }

footer .columns .column { padding-bottom: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-bottom: 22px; }

@media screen and (min-width: 730px) { footer .column.contact-details { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; border-bottom: none; } }

footer .column.contact-details svg { width: 96px; margin-bottom: 10px; }

@media screen and (min-width: 730px) { footer .column.contact-details svg { margin-bottom: 0; margin-right: 25px; margin-top: 15px; } }

footer .column.contact-details ul { margin: 10px 0; padding-left: 0; list-style: none; font-weight: 300; color: var(--gray-dark); }

@media screen and (min-width: 730px) { footer .column.contact-details ul { text-align: left; margin: 0; } }

footer .column.contact-details ul strong { font-weight: normal; }

footer .column.contact-details ul li:not(:last-of-type) { margin-bottom: 15px; }

footer .column.social-media { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (min-width: 730px) { footer .column.social-media { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; border-bottom: none; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

footer .column.social-media ul { max-width: -webkit-max-content; max-width: -moz-max-content; max-width: max-content; margin: 0; padding-left: 0; list-style: none; font-weight: 300; text-align: left; text-align: start; }

@media screen and (min-width: 730px) { footer .column.social-media ul { padding-left: 25px; } }

footer .column.social-media ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer .column.social-media ul li:not(:last-of-type) { margin-bottom: 7.5px; }

footer .column.social-media .icon { display: block; background: url("./assets/icons-sprite.png") no-repeat; width: 19px; height: 19px; margin-right: 10px; }

footer .column.social-media .icon.icon-facebook { background-position: -64px -20px; }

footer .column.social-media .icon.icon-instagram { background-position: -86px 0; }

footer .column.social-media .icon.icon-twitter { background-position: -64px -40px; }

footer .column.social-media .icon.icon-app { background-position: -86px -20px; }

footer .column.newsletter { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

@media screen and (min-width: 730px) { footer .column.newsletter { margin: 0 auto; text-align: left; -webkit-box-flex: 0; -ms-flex: 0 0 250px; flex: 0 0 250px; border-bottom: none; } }

footer .column.newsletter h3 { text-transform: capitalize; margin-bottom: 10px; font-size: 20px; font-weight: normal; }

@media screen and (min-width: 730px) { footer .column.newsletter h3 { margin-bottom: 5px; } }

footer .column.newsletter input { margin-bottom: 10px; }

footer .column.newsletter input:focus { outline: none; }

@media screen and (min-width: 730px) { footer .column.newsletter input { margin-bottom: 5px; padding: 7px 10px; } }

footer .column.newsletter button { -ms-flex-item-align: end; align-self: flex-end; font-weight: 500; font-size: 11px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer .column.newsletter button .icon-send { margin-left: 5px; display: block; background: url("./assets/icons-sprite.png") no-repeat -63px -83px; width: 18px; height: 18px; }

footer .developed-by { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (min-width: 730px) { footer .developed-by { padding-top: 16px; border-top: 1px solid rgba(0, 0, 0, 0.2); margin-top: 22px; } }

footer .developed-by span { opacity: 0.5; margin-right: 5px; font-weight: 300; font-size: 11px; }

footer .developed-by img { width: 63px; }
