body { --black: black; --black-light: #1d1d1b; --gray-dark: #333333; --gray-medium: #595959; --gray-light: #b3b3b3; --gray-lightest: #efeff0; --white: white; --purple: rgb(85, 26, 139); --blue: rgb(0, 77, 132); --text-ff: 'Aktiv Grotesk', 'Roboto', sans-serif; --nav-links-ff: 'Neo Sans Std', 'Roboto', sans-serif; --main-title-ff: 'Roboto', sans-serif; }

body { font-family: var(--text-ff); background-color: var(--white); }

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }

input { background-color: var(--gray-light); color: var(--white); padding: 0.5em 0.8em; border: none; font-weight: normal; }

input::-webkit-input-placeholder { opacity: 0.5; }

input:-ms-input-placeholder { opacity: 0.5; }

input::-ms-input-placeholder { opacity: 0.5; }

input::placeholder { opacity: 0.5; }

button { background-color: transparent; text-transform: capitalize; border: none; padding: 0; margin: 0; color: var(--blue); }

button::after { content: ' ->'; }
