main {
  overflow-x: hidden;
}

main section {
  padding: 40px 15px 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main section:first-of-type,
main section:nth-of-type(3) {
  background-color: var(--gray-lightest);
  position: relative;

  &::before {
    content: url(./assets/circle-decoration.svg);
    position: absolute;
    opacity: 0.8;

    @media screen and (min-width: 800px) {
      content: '';
    }
  }

  .container {
    @media screen and (min-width: 800px) {
      position: relative;
      &::before {
        content: url(./assets/circle-decoration.svg);
        position: absolute;
        opacity: 0.5;
      }
    }
  }
}

h2,
h3 {
  margin: 0;
  color: var(--gray-medium);
}

// First section
main section:first-of-type {
  &::before {
    top: -40px;
    right: -25px;
    transform: rotate(235deg);
  }

  .container::before {
    top: -70px;
    right: -90px;
    transform: scale(2) rotate(230deg);
  }

  h2 {
    font-size: 16px;
    line-height: 1.65;
    font-weight: 500;
    color: var(--gray-dark);
    margin-bottom: 40px;
    word-spacing: 2px;
    max-width: 700px;
  }
  p {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: var(--gray-dark);
    max-width: 700px;

    &:last-of-type {
      padding-top: 20px;
      color: var(--gray-dark);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

// Second section
main section:nth-of-type(2) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  h2,
  h3 {
    font-weight: normal;
    color: var(--gray-dark);
  }

  h2 {
    font-size: 24px;
    line-height: 1.6;
    word-spacing: 6px;
    max-width: 600px;
    margin-bottom: 30px;
  }

  h3 {
    letter-spacing: 0.5px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .features-container {
    @media screen and (min-width: 800px) {
      display: flex;

      .features {
        max-width: 450px;

        &:first-of-type {
          padding-right: 40px;
        }
      }
    }
  }

  .features:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .features ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    padding-right: 15px;

    li {
      font-size: 12px;
      color: var(--gray-dark);
      line-height: 3;
      font-weight: 300;
      display: flex;
      align-items: center;
      img {
        align-self: start;
        margin-top: 5px;
      }
      span {
        margin-left: 0.8em;
      }
    }
  }
}

// Third section
main section:nth-of-type(3) {
  &::before {
    top: -15px;
    left: -25px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    background-color: var(--gray-medium);

    &::before {
      top: -50px;
      left: -40px;
      transform: scale(2) rotate(230deg);
    }
  }

  .call-to-action {
    display: block;
    padding: 40px 20px;
    color: var(--white);
    font-size: 14px;
    line-height: 2;
    box-sizing: content-box;
    max-width: 400px;

    @media screen and (min-width: 600px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 800px) {
      padding: 90px 0;
    }

    a {
      color: inherit;
      transition: color 0.3s ease;

      &:hover {
        color: lawngreen;
      }
    }
  }
}
