*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: currentColor;
  background: #b3d4fc;
  text-shadow: none;
}

body {
  font-family: var(--text-ff);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

input {
  background-color: var(--gray-light);
  color: var(--white);
  padding: 0.5em 0.8em;
  border: none;
  font-weight: normal;

  &::-webkit-input-placeholder {
    // Chrome, Safari and Opera
    color: var(--white);
    opacity: 0.6;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: var(--white);
    opacity: 0.6;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--white);
    opacity: 0.6;
  }

  &:-ms-input-placeholder {
    // Edge and EI
    color: var(--white);
    opacity: 0.6;
  }

  &::placeholder {
    color: var(--white);
    opacity: 0.6;
  }
}

button {
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--blue);
}

a {
  color: var(--blue);

  &:visited {
    color: var(--purple);
  }
}
