body {
  // Colors
  --black: black;
  --black-light: #1d1d1b;
  --gray-dark: #333333;
  --gray-medium: #595959;
  --gray-light: #efeff0;
  --white: white;
  --purple: rgb(85, 26, 139);

  //   Fonts
  --text-ff: 'Aktiv Grotesk', 'Roboto', sans-serif;
  --nav-links-ff: 'Neo Sans Std', 'Roboto', sans-serif;
  --main-title-ff: 'Roboto', sans-serif;
}
