body {
  // Colors
  --black: black;
  --black-light: #1d1d1b;
  --gray-dark: #333333;
  --gray-medium: #595959;
  --gray-light: #b3b3b3;
  --gray-lightest: #efeff0;
  --white: white;
  --purple: #8a1a9b;
  --blue: rgb(0, 77, 132);
  --pink: #eb1e7a;

  //   Fonts
  --text-ff: 'Aktiv Grotesk', 'Roboto', sans-serif;
  --nav-links-ff: 'Neo Sans Std', 'Roboto', sans-serif;
  --main-title-ff: 'Roboto', sans-serif;
}
